.custom-radio input {
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.custom-radio {
    position: relative;
    overflow: hidden;
}

.custom-radio .icon:after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #000;
    opacity: 0;
    content: '';
    visibility: hidden;
}

.custom-radio .icon:hover:after {
    opacity: 1;
    visibility: visible;
}

.custom-radio .icon.error{
    border: 1px solid red;
}
.custom-radio .icon {
    display: block;
    width: 22px;
    cursor: pointer;
    height: 22px;
    z-index: 4;
    top: 0;
    margin: 0 8px 0 0;
    float: left;
    left: 0;
    border-radius: 100%;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    position: relative;
}

.custom-radio input:checked + span:after {
    opacity: 1;
    visibility: visible;
}

.custom-radio span {
    display: block;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    overflow: hidden;
}

.list-group-item {
    padding: 0;
    margin: 0;
    border: none;
}
.subtitle{
    font-weight: 700;
    display: block;
    margin: 0 0 5px;
    font-size: 16px;
}

h3{
    margin: 0 0 10px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.error-text{
    color: red;
}

.compose-block_pic {
    position: relative;
    overflow: hidden;
    height: 180px;
}

.compose-block_pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    .compose-block_col{
        width: 11vw;
        text-align: left;
    }
    .compose-block_col.sign-plus{
        width: 2vw;
    }


