<div *ngIf="lunchStore.getCurrentLunchBasic().length > 0">
  <div class="compose-block_pic">
    <img src="https://sushnaya-express.ru/images/compose.jpg" alt="Основа">
  </div>

  <div>
    <h3 class="compose-block_title">Основа</h3>

    <ul class="list-group ">
      <li class="list-group-item"  *ngFor="let product of lunchStore.getCurrentLunchBasic()">
        <label class="custom-radio" for="{{product.id}}">
          <input
              type="radio"
              id="{{product.id}}"
              name="basic_list"
              [value]="product"
              [(ngModel)]="lunchStore.currentBasic"
              (change)="onChange(product)"
          />
          <span *ngIf="lunchValidator.currentBasicError" class="icon error"></span>
          <span *ngIf="!(lunchValidator.currentBasicError)" class="icon"></span>
          <span>{{ product.name }}</span>
        </label>

      </li>
    </ul>
  </div>

  <div class="error-text" *ngIf="lunchValidator.currentBasicError">
    <span>Необходимо выбрать основу</span>
  </div>

</div>