<div class="compose-block_wrap clearfix">
  <div *ngIf="lunchStore.getCurrentLunchRolls().length > 0 || lunchStore.getCurrentLunchOther().length > 0" class="compose-block_col">
    <div class="compose-block_pic">
      <img src="https://sushnaya-express.ru/images/compose.jpg" alt="Дополнительно">
    </div>

    <div>
      <h2 class="compose-block_title">Дополнительно</h2>

      <div >
        <h4 *ngIf="lunchStore.getCurrentLunchRolls().length > 0">Роллы</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let product of lunchStore.getCurrentLunchRolls()">
            {{ product.name }} ({{ product.count }} шт.)
          </li>
        </ul>
      </div>

      <div >
        <h4 *ngIf="lunchStore.getCurrentLunchOther().length > 0">Остальное</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let product of lunchStore.getCurrentLunchOther()">
            {{ product.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="compose-block_col sign-eq"></div>
</div>