<div class="container-fluid">
  <app-lunch-type></app-lunch-type>

  <h2>WOK</h2>
  <div class="center">
    <div class="column ">
      <app-lunch-wok></app-lunch-wok>
    </div>
    <div class="column ">
      <app-lunch-others></app-lunch-others>
    </div>
    <div class="column">
      <app-lunch-summary></app-lunch-summary>
    </div>
  </div>
</div>
