.column{
    float: left;
}

.center{
    overflow: hidden;
}

@media screen and (max-width: 1160px) {
    .column{
        text-align: center;
        float: none;
        overflow: hidden;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {

    .compose-block_col.sign-plus:after,
    .compose-block_col.sign-eq:after{
        top: 0;
        left: 50% ;
        margin-left: -15px;
    }
}