<div class="compose-block_pic">
  <div class="compose-block_total">
    <div>
      <p>Стоимость вашего бизнес ланча:</p>
      <p><span><span data-wok-price="">{{ lunchStore.getCurrentLunchTypePrice() }}</span> рублей</span></p>
    </div>
  </div>

 <!-- <div >-->
  <div [@changeVision]="state" class="notice">
    Wok добавлен в корзину
  </div>

  <div class="wok_button_container">
    <button (click)="addCart()" class="btn-yellow">
      Добавить бизнес ланч в корзину
    </button>
  </div>



</div>