.compose-block_total {
    box-sizing: border-box;
    padding: 20px 10px;
}

.notice:after {
    content: '';
    position: absolute;
    bottom: -7px;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 50%;
    display: inline-block;
    margin-left: -7px;
}

.notice {
    font-size: 14px;
    line-height: 17px;
    position: relative;
    text-align: center;
    border-radius: 0 0 3px 3px;
    background: #000;
    z-index: 10;
    color: #fff;
    box-sizing: border-box;
    margin: -17px 0 0;
    padding: 3px 5px;

}

.btn-yellow {
    padding: 8px 10px 7px;
}


.compose-block_pic {
    width: 11vw;
    text-align: left;
}

.compose-block_col.sign-plus {
    width: 2vw;
}

.compose-block_total {
    width: 100%;
}

@media screen and (max-width: 1160px) {
    .compose-block_pic {
        display: inline-block;
        width: 180px;
    }
}