<div *ngIf="lunchStore.getCurrentLunchAddition().length > 0">
  <div class="compose-block_pic">
    <img src="https://sushnaya-express.ru/images/compose1.jpg" alt="Добавки">
  </div>

  <div>
    <h3 class="compose-block_title">Добавки</h3>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of lunchStore.getCurrentLunchAddition()">

        <label *ngIf="product.choose != true" class="checkbox-custom" for="{{product.name}}">
          <input
              id="{{product.name}}"
              type="checkbox"
              [value]="product.name"
              checked
              disabled
          />
          <span class="icon"></span>
          <span>{{ product.name }}</span>
        </label>

        <span *ngIf="product.choose == true">
          <label class="custom-radio" for="{{product.id}}">
           <input
               id="{{product.id}}"
               type="radio"
               name="addition_list"
               [value]="product"
               [(ngModel)]="lunchStore.currentAddition"
               (change)="onChange(product)"
           />
          <span *ngIf="lunchValidator.currentAdditionError" class="icon error"></span>
          <span *ngIf="!(lunchValidator.currentAdditionError)" class="icon"></span>
          <span>{{ product.name }}</span>
        </label>

        </span>
      </li>
    </ul>
  </div>

  <div class="error-text" *ngIf="lunchValidator.currentAdditionError">
    <span>Необходимо выбрать добавку</span>
  </div>
</div>
