<div>
  <ul class="list-group">
    <li class="list-group-item"  *ngFor="let type of allTypes">
      <div class="custom-radio">
        <label for="{{type.external_id}}">
          <input
              id="{{type.external_id}}"
              type="radio"
              name="type_list"
              [value]="type.external_id"
              [(ngModel)]="typeSelect"
              (change)="onTypeChange(type)"
          />
          <span class="icon"></span>
          <span>{{type.type}}</span>
        </label>

      </div>

    </li>
  </ul>
</div>