.custom-radio input {
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.custom-radio {
    margin: 5px 0;
    position: relative;
    width: 33.3%;
    float: left;
    overflow: hidden;
}

.custom-radio .icon:after {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #000;
    opacity: 0;
    content: '';
    visibility: hidden;
}

.custom-radio .icon:hover:after {
    opacity: 1;
    visibility: visible;
}

.custom-radio .icon {
    display: block;
    width: 22px;
    cursor: pointer;
    height: 22px;
    z-index: 4;
    top: 0;
    margin: 0 8px 0 0;
    float: left;
    left: 0;
    border-radius: 100%;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    position: relative;
}

.custom-radio input:checked + span:after {
    opacity: 1;
    visibility: visible;
}

.custom-radio span {
    display: block;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    overflow: hidden;
}

.list-group-item {
    padding: 0;
    margin: 0;
    border: none;
}

.list-group{
    margin: 20px 0;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .custom-radio{
        width: 100%;
        float: none;
    }
}