
  <div class="compose-block_wrap clearfix">
    <div class="compose-block_col">
      <app-lunch-base></app-lunch-base>
    </div>
    <div class="compose-block_col sign-plus"></div>
    <div class="compose-block_col">
      <app-lunch-addition></app-lunch-addition>
    </div>
    <div class="compose-block_col sign-plus"></div>
    <div class="compose-block_col">
      <app-lunch-sauce></app-lunch-sauce>
    </div>
    <div class="compose-block_col sign-plus"></div>

  </div>