.compose-block_wrap{
    display: block;
}
.compose-block_col{
    float: left;
}


.compose-block_col{
    width: 180px;
}
.compose-block_col.sign-plus{
    width: 50px;
}

.compose-block_pic{
    height: 180px;
    overflow: hidden;
    position: relative;
}
.compose-block_pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    .compose-block_col{
        width: 10vw;
        text-align: left;
    }
    .compose-block_col.sign-plus{
        width: 2vw;
    }


@media screen and (max-width: 1160px) {
    .compose-block_col {
        display: block;
        margin: 0 auto 20px;
        float: none;
        width: 180px;
    }
    .compose-block_col.sign-plus,
    .compose-block_col.sign-eq{
        height: 31px;
    }
    .compose-block_col.sign-plus:after,
    .compose-block_col.sign-eq:after{
        top: 0;
        left: 50% !important;
        margin-left: -15px !important;
    }
}

@media screen and (max-width: 992px) {

    .compose-block_col.sign-plus:after,
    .compose-block_col.sign-eq:after{
        top: 0;
        left: 50% ;
        margin-left: -15px;
    }
}