<div *ngIf="lunchStore.getCurrentLunchSauce().length > 0">
  <div class="compose-block_pic">
    <img src="https://sushnaya-express.ru/images/compose2.jpg" alt="Соус">
  </div>

  <div>
    <h3>Соус</h3>

    <ul class="list-group">
      <li class="list-group-item"  *ngFor="let product of lunchStore.getCurrentLunchSauce()">
        <label class="custom-radio" for="{{product.id}}">
          <input
              id="{{product.id}}"
              type="radio"
              name="sauce_list"
              [value]="product"
              [(ngModel)]="lunchStore.currentSauce"
              (change)="onChange(product)"
          />
          <span *ngIf="lunchValidator.currentSauceError" class="icon error"></span>
          <span *ngIf="!(lunchValidator.currentSauceError)" class="icon"></span>

          <span>{{ product.name }}</span>
        </label>
      </li>
    </ul>
  </div>

  <div class="error-text" *ngIf="lunchValidator.currentSauceError">
    <span>Необходимо выбрать соус</span>
  </div>
</div>
